.row-room {
    border: 1px solid #999;
    padding: .5rem;
    border-bottom: none;
}
.row-room:last-child {
    border-bottom: 1px solid #999;
}
.room-name {
    white-space: nowrap;
    overflow-x: scroll;
}
.room-wrap a {

}